project_id            = "green-valley-442103"
cloudflare_zone       = "cyberorigin.ai"
cloudflare_api_token_secret_name = "cloudflare-api-token"
certificate_map_name  = "developer-gateway-cert-map"
gateway_ip            = "34.111.117.201"

frontend_domain       = "cyber-databrew-dev.cyberorigin.ai"
api_domain            = "api-cyber-databrew-dev.cyberorigin.ai"
frontend_record_name  = "cyber-databrew-dev"
api_record_name       = "api-cyber-databrew-dev"

name_prefix           = "developer-gateway-cyber-databrew-dev"
